* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* li {
  list-style: none;
  max-width: 33%;
  float: left;
}

li img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  /* body {
    background-color: red;
  } *
  li {
    max-width: 100%;
  }
} */

li {
  width: 100%;
  list-style: none;
}

li img {
  width: 100%;
}

@media screen and (min-width: 1366px) {
  li {
    max-width: 33%;
    float: left;
  }
}

@media screen and (orientation: portrait) and (max-width: 640px) {
  body {
    background-color: red;
  }
}

@media print {
  h3 {
    color: red;
  }
}